body { background-image: url(background.jpg);}
h1 {font-family: "Sofia Font",serif;}
p {}
.home {color: white; font-family: "Georgia",serif;}
.experience {color: black; font-family: "Georgia",serif;}
.hobbies {color: white; font-family: "Georgia",serif;}
